* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#111
}
html, body{
    height: 100%;   
    width: 100%;
    
}
body{
    overflow-x: hidden;
}
section{
    height:100%;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 100px;
    margin-bottom: 0;
}

.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
}
nav h1{
    font-size: 50px;
    display: flex;
    align-items: center;
    gap:3px
}
nav h4{
    font-size: 20px;
    font-weight: 500;
}
nav button{
    padding:18px 30px;
    font-size: 15px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    border:1px solid black;
}
nav h1 i{
    rotate:45deg;
    display: inline-block;
}

.center{
    padding: 70px 100px;
    height: 80%;
    width: 100%;
    display: flex;
}
.center-part1{
    height: 100%;
    width: 44%;
}
.center-part2{
    height: 100%;
    width: 56%;
}

.center-part1 h1{
    line-height: 1.2;
    font-size:70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.center-part1 p{
    font-size:15px;
    width:95%;
    margin-top: 15px;
    margin-bottom: 25px;
}

.center-part1 button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 22px 40px;
    font-weight: 600;
    border: none;
}

.center-part2 {
    height: 100%;
    width: 56%;
    position: relative;
    margin-bottom: 0;
}
.center-part2 img{
    margin-top: 0;
    position: absolute;
    right: 0;
    margin-right: 70px;
    height: 100%;
    /* margin-bottom: 0; */
}

.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 30px 120px; */
}

.section1bottom img{
    height: 100px;
}

.section2 .services{
    /* background-color: red; */
    padding:40px 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
    margin-top: 30px;
}

.services h3{
    background-color: rgb(68, 255, 0);
    font-weight: 500;
    padding:5px 10px 0px 10px;
    border-radius: 5px;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.services p{
    width: 40%;
    font-size: 20px;
    font-weight: 500;
}

.container{
    height: 86%;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.elem{
    flex-shrink: 0;
    height: 40%;
    width: 48%;
    border: 3px solid black;
    border-radius: 50px;
    /* background-color: red; */
    box-shadow: 0px 10px 0px black;
    padding: 60px;
    display: flex;
}

.elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.elem-part2{
    height: 100%;
    width: 50%;
}

.elem-part2 img{
    height: 100%;
    margin-left: 100px;
}

.elem-part1 h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    font-weight: 500;
    background-color:rgb(68, 255, 0);
    padding: 0px 5px ;
    border-radius: 10px;
}
.elem-part1 h4{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap:15px
}

.elem-part1 h4 i{
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.black{
    background-color: #111;
    
}
