* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color:#fff
}
html, body{
    height: 100%;   
    width: 100%;
}
body{
    background-color: #111;
}

#string{
    height: 200px;
    width: 100%;
    /* background-color: red; */
}

#box1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#box2{
    height: 100%;
    width: 100%;
    background-color: aqua;
    
}
#box3{
    height: 100%;
    width: 100%;
    background-color: blue;
    
}
#box{
    height:300px;
    width:300px;
    background-color: #fff;
}

#box2 h1{
    font-size: 600;
    font-size:40vw;
    text-transform: uppercase;
}